<!DOCTYPE html>
<html>
<head>
<title>Home Page</title>
<style>
body {
background-color: lightblue; /* change color here */
}
</style>
Department of Artificial Intelligence and ADITYA UNIVERSITY Machine Learning
Web Application Development Using MERN Stack Page:27
</head>
<body>
<h1>Welcome to Express EJS Templating</h1>
</body>
</html>